---
import { CollectionEntry, getCollection } from "astro:content";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import Layout from "@/layouts/Layout.astro";
export async function getStaticPaths({ paginate }: any) {
  const allResourses = await getCollection("recursos");
  return paginate(allResourses, { pageSize: 12 });
}
const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
---

<Layout title={`Cooparaje ${currentPage > 1 ? `— página ${currentPage} ` : ''}`} >
  <main class="py-24 gap-6 flex flex-col">
    <h1 class="text-6xl mt-24 mb-1 font-serif text-center">Recursos</h1>
    <h2 class="w-full px-8 pt-1 m-auto font-sans text-1xl font-bold text-center text-white">
      Actualizados recientemente
    </h2>
    <div role="list" class="grid px-4 md:grid-cols-2 gap-6 max-w-6xl mx-auto">
      {
        page.data.map((item: any) => (
          <Card
            title={item.data.title}
            slug={item.slug}
            image={item.data.featuredImg}
            url={item.data.url}
            text={item.body}
          />
        ))
      } 
    </div>
		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> 
  </main>
</Layout>
