---
import Layout from "@/layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";
// import createSlug from "@/lib/createSlug";

export async function getStaticPaths() {
  const recurso = await getCollection("recursos");

  return recurso.map((recurso) => ({
    params: { slug: recurso.slug },
    props: recurso,
  }));
}

const { data, render, slug } = Astro.props;
const { Content } = await render();
---

<Layout title={data.title}>
  <div
    data-pagefind-body
    class="flex items-center justify-center w-full min-h-screen py-10 overflow-hidden text-white bg-stone-900"
  >
    <div class="relative z-10 flex flex-col items-start justify-center px-4">
      {
        data.tags && (
          <div
            class="flex items-center justify-start w-full gap-3 pt-6 pb-6"
            data-pagefind-ignore
          >
            {data.tags.map((i: any) => {
              return (
                <a
                  href={`/colecciones/${i}`}
                  class="px-3 py-1 font-mono text-sm font-bold text-center uppercase rounded-md hover:text-amber-300 hover:opacity-80 bg-stone-700 text-stone-100"
                >
                  {i}
                </a>
              );
            })}
          </div>
        )
      }
      <h1
        class="w-full mb-6 font-serif text-6xl text-left"
        data-pagefind-meta="title"
        data-pagefind-ignore
      >
        {data.title}
      </h1>
      <a href={data.url} target="_blank" class="btn green" data-pagefind-ignore>
        Visitar web
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 ml-1"
          viewBox="0 0 16 16"
          ><path
            fill="currentColor"
            d="M4.53 4.75A.75.75 0 0 1 5.28 4h6.01a.75.75 0 0 1 .75.75v6.01a.75.75 0 0 1-1.5 0v-4.2l-5.26 5.261a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L9.48 5.5h-4.2a.75.75 0 0 1-.75-.75Z"
          ></path></svg
        >
      </a>
      <article
        class="max-w-xl mt-6 prose prose-lg text-left md:prose-2xl prose-invert"
      >
        <Content />
      </article>

      
      
    </div>
    <img
      src={data.featuredImg}
      data-pagefind-meta="image[src]"
      class="fixed inset-0 z-0 object-cover object-center w-full h-screen opacity-10"
    />
    {
      data.tags && (
        <div class="hidden">
          ( Espacios:
          {data.tags.map((i: any) => {
            return <a>-{i} </a>;
          })}
          )
        </div>
      )
    }
  </div>
</Layout>
