---
import { getCollection } from 'astro:content';
import SwiperCarousel from './SwiperCarousel.astro';

const allResourses = await getCollection('recursos');
const publicResourses = allResourses.filter(
	(item: any) => item.data.draft === false
);
const filterMusica = ['música'];
const filterAi = ['inteligencia artificial'];
const filterMapas = ['mapas'];
const filterAprendizaje = ['aprendizaje'];
const filterDiseno = ['diseño'];
const filterDev = ['programación'];

const getMusica = publicResourses
	.sort()
	.filter((person) =>
		filterMusica.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);

const getInteligencia = publicResourses
	.sort()
	.filter((person) =>
		filterAi.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);

const getMapas = publicResourses
	.sort()
	.filter((person) =>
		filterMapas.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);

const getAprendizaje = publicResourses
	.sort()
	.filter((person) =>
		filterAprendizaje.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);

const getDiseno = publicResourses
	.sort()
	.filter((person) =>
		filterDiseno.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);

const getDev = publicResourses
	.sort()
	.filter((person) =>
		filterDev.every((filter) => person.data.tags?.includes(filter))
	)
	.slice(0, 8);
---

<div class="wrapper">
	<SwiperCarousel title="Inteligencia artificial" data={getInteligencia} />
	<SwiperCarousel title="Diseño" data={getDiseno} />
	<SwiperCarousel title="Aprendizaje" data={getAprendizaje} />
	<SwiperCarousel title="Música" data={getMusica} />
	<SwiperCarousel title="Mapas" data={getMapas} />
	<SwiperCarousel title="Programación" data={getDev} />
</div>

<style>
	.wrapper {
		@apply flex flex-col w-full gap-0 bg-stone-900;
	}
</style>
