---
import IconExternalLink from "./Icons/IconExternalLink.astro";

export interface Props {
  title: string;
  slug: string;
  image: string;
  url: string;
  text: string;
  tags?: string[];
}

const { title, slug, image, url, text, tags } = Astro.props;
---

<div class="card">
  <div class="image">
    <a href={`/recursos/${slug}`}>
      <img title={title} alt={image} width="300" height="200" src={image} />
    </a>
  </div>
  <div class="information">
    <a href={`/recursos/${slug}`} class="title">
      {title}
    </a>
    <p>
      {text}
    </p>
    <div class="tags">
      {
        tags &&
          tags.map((i: any) => (
            <a href={`/colecciones/${i}`} class="btn ghost">
              {i}
            </a>
          ))
      }
    </div>
    <a
      class="externalLink"
      href={url}
      target="_blank"
      title="Enlace directo al recurso "
      rel="noopener noreferrer"
    >
      <IconExternalLink />
    </a>
  </div>
</div>

<style>
  .card {
    @apply relative flex flex-col w-full mb-2 overflow-hidden duration-500 border-2 border-transparent shadow-sm hover:shadow-lg bg-stone-900  lg:h-64 lg:flex-row hover:shadow-amber-400/50 hover:border-amber-400;
  }

  .image {
    @apply relative inset-0 z-0 block w-full overflow-hidden h-64 lg:opacity-90 lg:h-64;
  }

  .image img {
    @apply object-cover w-full h-full pb-0 mb-0;
  }

  .title {
    @apply inline-flex w-full mb-3 mt-1 font-serif text-3xl font-bold text-left text-yellow-500 capitalize hover:underline hover:text-yellow-300;
  }

  .information {
    @apply relative z-10 flex flex-col items-start justify-start w-full px-6 py-2 pb-12 md:pb-6;
  }

  .information p {
    @apply mb-3 line-clamp-4;
  }

  .tags {
    @apply flex flex-wrap items-center justify-start gap-2;
  }

  .btn {
    @apply mt-1 !text-sm;
  }

  .externalLink {
    @apply absolute bottom-0 right-0 top-auto z-20 flex items-center justify-center p-2 m-2 font-mono text-2xl font-bold text-white transition-all duration-200 rounded bg-emerald-500/80 lg:right-0 lg:left-auto lg:bottom-0 lg:top-auto hover:bg-stone-700;
  }
</style>
