---
export interface Props {
  title: string;
  slug: string;
  image: string;
  url: string;
  text: string;
  tags?: string[];
}

const { title, slug, image, url, text, tags } = Astro.props;
---

<div
  class="relative flex flex-col w-full mb-2 overflow-hidden duration-500 border-2 border-transparent rounded-lg shadow-sm bg-stone-800 hover:shadow-lg from-stone-800 via-stone-800 bg-gradient-to-br group lg:h-64 lg:flex-row hover:shadow-amber-400/50 hover:border-amber-400"
>
  <div
    class="relative inset-0 z-0 block w-full overflow-hidden rounded-t-md lg:rounded-l-md lg:rounded-r-none h-44 lg:opacity-90 lg:h-64"
  >
    <a href={`/recursos/${slug}`}>
      <img
        title={title}
        class="object-cover w-full h-full pb-0 mb-0 cardImage"
        alt={image}
        src={image}
      />
    </a>
    
  </div>
  <div
    class="relative z-10 flex flex-col items-start justify-start w-full px-6 py-2 pb-6"
  >
    <div class="flex items-baseline justify-between w-full mt-2 mb-1">
      <a
        href={`/recursos/${slug}`}
        class="inline-flex w-full mb-2 font-serif text-3xl font-bold text-left text-yellow-500 capitalize hover:underline hover:text-yellow-300"
      >
        {title}
      </a>
    </div>
    <p class="mb-3 font-sans text-base text-left text-gray-100 line-clamp-4 lg:line-clamp-4">
      {text}
    </p>
    <div class="flex flex-wrap items-center justify-start">
      {tags &&
        tags.map((i: any) => (
          <a href={`/colecciones/${i}`} class="btn m-1 ghost !text-xs">
            {i}
          </a>
        ))}
    </div>
    <a
      class="absolute bottom-0 right-0 top-auto z-20 flex items-center justify-center p-2 m-2 font-mono text-2xl font-bold text-white transition-all duration-200 rounded bg-emerald-500/80 lg:right-0 lg:left-auto lg:bottom-0 lg:top-auto hover:bg-stone-900"
      href={url}
      target="_blank"
      data-tip="Link directo"
      rel="noopener noreferrer"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M17 6H7c-.6 0-1 .4-1 1s.4 1 1 1h7.6l-8.3 8.3c-.4.4-.4 1 0 1.4c.4.4 1 .4 1.4 0L16 9.4V17c0 .6.4 1 1 1s1-.4 1-1V7c0-.6-.4-1-1-1z"
        ></path></svg
      >
    </a>
  </div>
</div>
